@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body{
	background-image: url("https://images.unsplash.com/photo-1531265726475-52ad60219627?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1191&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}
.main {
  padding: 40px 50px;
  box-shadow: 1px 5px 10px 5px whitesmoke;
  margin-top: 60px;
  border-radius: 50px;
  border: 2px solid #888888;
 
}

.main h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}
input {
  margin: 10px 10px;
  width: 95%;
  font-size: 20px;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  border-radius: 10px;
}
input[type="submit"] {
  width: 95%;
  background-color: #4285f4;
  border: none;
  color: white;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
input[type="submit"]:hover {
  background-color: #01368d;
}
.loginFooter{
	color: white;
	display: flex;
	justify-content: center;
	margin-top: 10px;
	
	
}
.loginFooter a:hover{
 color: #4285f4;
}